**Introduction to formatting .xlsx files in python**

For this example we're going to get data from the City of London Government website.  This example will illustrate using custom formats in sheets.

https://data.london.gov.uk/dataset/workforce-jobs

**Step 1**
Let's download the data

In [ ]:
from google.colab import files
import io
import pandas as pd
#This creates a dialog box for you to upload a CSV file dowlnloaded from London Gov Website. 
upload = files.upload()
df = pd.read_csv(io.StringIO(upload['workforce-jobs-ons.csv'].decode('utf-8')))
df

Saving workforce-jobs-ons.csv to workforce-jobs-ons.csv

       date    area  total_workforce_jobs  employee_jobs  self_employment_jobs
0    Mar-05      UK              31356985       27579660               3493495
1    Jun-05      UK              31403800       27625580               3501806
2    Sep-05      UK              31541152       27730717               3533639
3    Dec-05      UK              31628586       27784245               3569405
4    Mar-06      UK              31708853       27831410               3607458
..      ...     ...                   ...            ...                   ...
117  Mar-19  London               6105177        5300533                797732
118  Jun-19  London               6070558        5323508                738301
119  Sep-19  London               6053568        5259848                786221
120  Dec-19  London               6134150        5304787                821258
121  Mar-20  London               6144464        5350797                782640

[122 rows x 5 columns]

**Introduction to formatting .xlsx files in python (cont'd)**

**Step 2**

Now with the input data we'll try to create the Data tab on the .xlsx file.  We'll use the xlsxwriter format class and we'll use the merge_range() method and some other common methods in the worksheet class.

Xlsxwriter docs on the Format class:
https://xlsxwriter.readthedocs.io/format.html

In [ ]:
!pip install xlsxwriter
import xlsxwriter
import pandas as pd

%time

#two datasets that are subsets of the imported file
df_london = df.loc[df['area'] == 'London']
df_uk = df.loc[df['area'] == 'UK']
 
wb = xlsxwriter.Workbook('workforce-jobs.xlsx')
formatBold = wb.add_format({'bold': True, 'align': 'vcenter'}) 
formatUnderline = wb.add_format({'bottom': 1, 'align': 'center'})
formatNum = wb.add_format({'num_format': '#,##0'})
ws = wb.add_worksheet('Data')
ws.merge_range('B1:G1', 'Numbers', formatUnderline)
ws.merge_range('B2:C2', 'Total workforce jobs', formatBold)
ws.merge_range('D2:E2', 'Employee jobs', formatBold)
ws.merge_range('F2:G2', 'Self-employment jobs', formatBold)
ws.write('A2', 'Date', formatBold)
ws.write('B3', 'UK', formatBold)
ws.write('C3', 'London', formatBold)
ws.write('D3', 'UK', formatBold)
ws.write('E3', 'London', formatBold)
ws.write('F3', 'UK', formatBold)
ws.write('G3', 'London', formatBold)

ws.write_column('A4', df_uk['date'])
ws.write_column('B4', df_uk['total_workforce_jobs'], formatNum)
ws.write_column('C4', df_london['total_workforce_jobs'], formatNum)
ws.write_column('D4', df_uk['employee_jobs'], formatNum)
ws.write_column('E4', df_london['employee_jobs'], formatNum)
ws.write_column('F4', df_uk['self_employment_jobs'], formatNum)
ws.write_column('G4', df_london['self_employment_jobs'], formatNum)
  
ws.freeze_panes(3, 1)
ws.set_row(1, 28)
wb.close()

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.6/dist-packages (1.3.3)
CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs

**Introduction to formatting .xlsx files in python**

*Redo with a user defined function and minimal repetition*

For this example we're going to get data from the City of London Government website.  This example will illustrate using custom formats in sheets.

https://data.london.gov.uk/dataset/workforce-jobs

**Step 1**
Let's download the data

In [ ]:
from google.colab import files
import io
import pandas as pd
#This creates a dialog box for you to upload a CSV file dowlnloaded from London Gov Website. 
upload = files.upload()
df = pd.read_csv(io.StringIO(upload['workforce-jobs-ons.csv'].decode('utf-8')))
df

Saving workforce-jobs-ons.csv to workforce-jobs-ons.csv

       date    area  total_workforce_jobs  employee_jobs  self_employment_jobs
0    Mar-05      UK              31356985       27579660               3493495
1    Jun-05      UK              31403800       27625580               3501806
2    Sep-05      UK              31541152       27730717               3533639
3    Dec-05      UK              31628586       27784245               3569405
4    Mar-06      UK              31708853       27831410               3607458
..      ...     ...                   ...            ...                   ...
117  Mar-19  London               6105177        5300533                797732
118  Jun-19  London               6070558        5323508                738301
119  Sep-19  London               6053568        5259848                786221
120  Dec-19  London               6134150        5304787                821258
121  Mar-20  London               6144464        5350797                782640

[122 rows x 5 columns]

**Step 2** I'm creating a python function that I've found useful for creating multiple format options. The function could be more or less extensive depending on how much you'd like to do with it. 

Note: these function blocks start with the def keyword followed by the name (in this example it is excelFormat) and arguments in the parentheses.

In [ ]:
def excelFormat(text_wrap = 0, num_format = 'none', bold = 0, underline = 0, font_color = '#000000', bg_color = 'none', valign = 'vcenter', align = 'center', bottom = 999, top = 999, right = 999, left = 999, font_size = 11):
    #Function created to avoid excessive repetition in creating multiple format objects
    global format
    format=wb.add_format({
    'font_color' : font_color,
    'align': align,
    'valign': valign,
    'font_size': font_size,
    'bold': bold
    })
    if bg_color != 'none':
        format.set_bg_color(bg_color)
    if bottom != 999:
        format.set_bottom(bottom)
    if top != 999:
        format.set_top(top)
    if right != 999:
        format.set_right(right)
    if left != 999:
        format.set_left(left)
    if num_format != 'none':
        format.set_num_format(num_format)
    if text_wrap != 0:
        format.set_text_wrap(text_wrap)

**Introduction to formatting .xlsx files in python (cont'd)**

**Step 3** Reproduce the Data tab on the .xlsx file from the London Govt website.

Now with the input data we'll try to create the Data tab on the .xlsx file. We'll use the xlsxwriter format class and we'll use the merge_range() method and some other common methods in the worksheet class. We'll use try to minimize repetition and use our user-defined function (excelFormat) as needed.

Xlsxwriter docs on the Format class: https://xlsxwriter.readthedocs.io/format.html

In [ ]:
!pip install xlsxwriter
import xlsxwriter
import pandas as pd

%time

df_london = df.loc[df['area'] == 'London']
df_uk = df.loc[df['area'] == 'UK']

wb = xlsxwriter.Workbook('workforce-jobs.xlsx')
excelFormat(bold = 1)
formatBold = format 
excelFormat(bottom = 1, align='center')
formatUnderline = format 
excelFormat(num_format='#,##0')
formatNum = format
ws = wb.add_worksheet('Data')
ws.merge_range('B1:G1', 'Numbers', formatUnderline)
ws.merge_range('B2:C2', 'Total workforce jobs', formatBold)
ws.merge_range('D2:E2', 'Employee jobs', formatBold)
ws.merge_range('F2:G2', 'Self-employment jobs', formatBold)
ws.write('A2', 'Date', formatBold)
ws.write_column('A4', df_uk['date'])

for i in range (1, 6, 2):
    ws.write(2, i, 'UK', formatBold)
    ws.write(2, i+1, 'London', formatBold)

for i, j in enumerate(['total_workforce_jobs', 'employee_jobs', 'self_employment_jobs']): 
    ws.write_column(3, (i*2)+1, df_uk['%s' % (j)], formatNum)
    ws.write_column(3, (i*2)+2, df_london['%s' % (j)], formatNum)
  
ws.freeze_panes(3, 1)
ws.set_row(1, 28)
wb.close()

Collecting xlsxwriter
  Downloading https://files.pythonhosted.org/packages/2b/98/17875723b6814fc4d0fc03f0997ee00de2dbd78cf195e2ec3f2c9c789d40/XlsxWriter-1.3.3-py2.py3-none-any.whl (144kB)
     |████████████████████████████████| 153kB 3.1MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-1.3.3
CPU times: user 0 ns, sys: 2 µs, total: 2 µs
Wall time: 5.01 µs

**Writing Excel formulas in XLSX Files using python**

As in previous example we'll get data from the City of London Government website.  This example will illustrate using custom formats in sheets and use excel formulas.

https://data.london.gov.uk/dataset/workforce-jobs

**Step 1**
Let's download the data

**Step 2**
Re-run the code from earlier to create the first tab

**Step 3**
Now we'll add a second tab that will use formulas to read and use the data from the other tab. We'll use the `write_formula()` method ([link to xlsxwriter docs](https://xlsxwriter.readthedocs.io/worksheet.html#write_formula)).

In [4]:
!pip install xlsxwriter
import xlsxwriter
import pandas as pd
from google.colab import files
import io
#This creates a dialog box for you to upload a CSV file dowlnloaded from London Gov Website. 
upload = files.upload()
df = pd.read_csv(io.StringIO(upload['workforce-jobs-ons.csv'].decode('utf-8')))

%time

df_london = df.loc[df['area'] == 'London']
df_uk = df.loc[df['area'] == 'UK']

wb = xlsxwriter.Workbook('workforce-jobs.xlsx')
formatBold = wb.add_format({'bold': True, 'align': 'vcenter'}) 
formatUnderline = wb.add_format({'bottom': 1, 'align': 'center'})
formatNum = wb.add_format({'num_format': '#,##0'})
formatPerc = wb.add_format({'num_format': '0.0%'})
ws = wb.add_worksheet('Data')
ws.merge_range('B1:G1', 'Numbers', formatUnderline)
ws.merge_range('B2:C2', 'Total workforce jobs', formatBold)
ws.merge_range('D2:E2', 'Employee jobs', formatBold)
ws.merge_range('F2:G2', 'Self-employment jobs', formatBold)
ws.write('A2', 'Date', formatBold)
ws.write_column('A4', df_uk['date'])

for i in range (1, 6, 2):
    ws.write(2, i, 'UK', formatBold)
    ws.write(2, i+1, 'London', formatBold)

for i, j in enumerate(['total_workforce_jobs', 'employee_jobs', 'self_employment_jobs']): 
    ws.write_column(3, (i*2)+1, df_uk['%s' % (j)], formatNum)
    ws.write_column(3, (i*2)+2, df_london['%s' % (j)], formatNum)
  
ws.freeze_panes(3, 1)
ws.set_row(1, 28)

ws = wb.add_worksheet('Charts')
ws.merge_range('B1:C1', 'Total workforce jobs', formatBold)
ws.merge_range('D1:E1', 'Employee jobs', formatBold)
ws.merge_range('F1:G1', 'Self-employment jobs', formatBold)
formatBoldUnd = wb.add_format({'bold': True, 'align': 'vcenter', 'bottom': 5})
formatTop = wb.add_format({'top': 5})
ws.write(1, 0, '', formatBoldUnd) 
for i in range (1, 6, 2):
    ws.write(1, i, 'UK', formatBoldUnd)
    ws.write(1, i+1, 'London', formatBoldUnd)
ws.write('A3', 'Change since last quarter')
ws.write('A4', '% change since last quarter')
ws.write('A5', 'Change since last year')
ws.write('A6', '% change since last year')
ws.write('A7', ' ', formatTop)
for i, j in enumerate(list('BCDEFG')):
    print(i,j)
    ws.write_formula(2 ,i+1 , "=Data!%s%d-Data!%s%d" % (j, len(df_uk)+3, j, len(df_uk)+2), formatNum)
    ws.write_formula(3 ,i+1 , "=(Data!%s%d-Data!%s%d)/Data!%s%d" % (j, len(df_uk)+3, j, len(df_uk)+2, j, len(df_uk)+2), formatPerc)
    ws.write_formula(4 ,i+1 , "=Data!%s%d-Data!%s%d" % (j, len(df_uk)+3, j, len(df_uk)-1), formatNum)
    ws.write_formula(5 ,i+1 , "=(Data!%s%d-Data!%s%d)/Data!%s%d" % (j, len(df_uk)+3, j, len(df_uk)-1, j, len(df_uk)-1), formatPerc)
    ws.write(6 ,i+1 , " ", formatTop)
print(len(df_uk))
ws.set_row(0, 28)
ws.set_column(0, 0, 30)
wb.close()

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.6/dist-packages (1.3.3)

Saving workforce-jobs-ons.csv to workforce-jobs-ons (3).csv
CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 5.48 µs
0 B
1 C
2 D
3 E
4 F
5 G
61

**Formating and customizing XLSX Charts in Python**